beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
dearpygui==2.0
distlib==0.3.8
filelock==3.13.4
idna==3.7
JSON-log-formatter==1.0
netifaces==0.11.0
packaging==24.0
platformdirs==4.2.0
pluggy==1.4.0
pyproject-api==1.6.1
PySocks==1.7.1
python-nmap==0.7.1
python3-nmap==1.6.0
requests==2.31.0
simplejson==3.19.2
socks==0
soupsieve==2.5
tomli==2.0.1
tox==4.14.2
urllib3==2.2.1
